@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .exo-bold {
    font-family: "exo-bold";
  }
  .roboto-regular {
    font-family: "roboto-regular";
  }

}
@font-face {
  font-family: "exo-bold";
  src: local("exo-bold"),
   url("./utils/fonts/exo-bold/exo-bold.woff2") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "roboto-regular";
  src: local("roboto-regular"),
   url("./utils/fonts/roboto-regular/roboto-regular.woff2") format("truetype");
  font-weight: bold;
  }

